/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--font-weight-text, 410);
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
  padding-inline: clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
}

.width-container {
  inline-size: var(--responsive-width);
}

.header {
  background-color: #fff;
  margin-block-start: 100px;
  padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem)
    clamp(1rem, -1.3438rem + 10vw, 7.65625rem);
  border: 2px solid var(--main-color, #000);
}

.header__logo {
  font-family: var(--accent-font, "PressStart2P", fantasy);
  font-weight: var(--accent-font-weigh, 400);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  color: var(--main-color, #000);
  text-align: center;
  margin-block-end: 18px;
}

.header__title {
  font-family: var(--accent-font, "PressStart2P", fantasy);
  font-weight: var(--accent-font-weigh, 400);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  color: var(--main-color, #000);
  text-align: center;
}

.main {
  margin-block-start: 100px;
}

.cards-list {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.card {
  background-color: #fff;
  border: 2px solid var(--main-color, #000);
}

.card__title {
  font-family: var(--main-font, "Inter-Variable", sans-serif);
  font-variation-settings: "wght" var(--font-weight-title, 715);
  font-size: 18px;
  color: var(--main-color, #000);
  margin: 4px 10px;
}

.card__image-container {
  position: relative;
}

.card__photo {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  overflow: hidden;
  aspect-ratio: 1 / 1;
}

.contrast {
  filter: contrast(1.1);
}

.sepia {
  filter: sepia(50%);
}

.brightness {
  filter: brightness(1.2);
}

.hue-rotate {
  filter: hue-rotate(-30deg);
}

.saturate {
  filter: saturate(1.5);
}

.blur {
  filter: blur(5px);
}

.multiple {
  filter: saturate(1.7) brightness(0.9) hue-rotate(-5deg);
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font, "PressStart2P", fantasy);
  font-weight: var(--accent-font-weigh, 400);
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
  opacity: 50%;
  mix-blend-mode: hard-light;
  text-shadow:
    1px 0 0 var(--accent-color),
    -1px 0 0 var(--accent-color),
    0 1px 0 var(--accent-color),
    0 -1px 0 var(--accent-color);
}

@supports (text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff) {
  .card__label {
    -webkit-text-stroke: 1px var(--accent-color);
    text-stroke: 1px var(--accent-color);
    text-shadow: none;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 22px 25px 0;
  gap: 24px;
}

.card__text-paragraph {
  font-family: var(--main-font, "Inter-Variable", sans-serif);
  font-variation-settings: "wght" var(--font-weight-text, 410);
  font-size: 18px;
  color: var(--main-color, #000);
}

.card__buttons {
  padding: 0 25px 23px;
  margin-block-start: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  background-color: var(--accent-color, #fff);
}

.card__icon-button {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: border-color 0.3s ease;
  padding: 0;
  cursor: pointer;
  margin-block-end: 4px;
}

.like-icon {
  width: 38px;
  height: 35px;
  display: block;
}

.like-icon:hover .core {
  opacity: 1;
  transition: fill linear 0.3s;
  fill: var(--animation-fill-color-hover, #000);
}

.like-icon:hover .main-body {
  opacity: 1;
  transition: fill linear 0.3s 0.05s;
  fill: var(--animation-fill-color-hover, #000);
}

.like-icon:active .core {
  opacity: 1;
  transition: fill linear 0.3s;
  fill: var(--animation-fill-color, #ff0000);
}

.like-icon:active .main-body {
  opacity: 1;
  transition: fill linear 0.3s 0.05s;
  fill: var(--animation-fill-color, #ff0000);
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--animation-fill-color, #ff0000);
  transition: fill linear 0.3s;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--animation-fill-color, #ff0000);
  transition: fill linear 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color, #ff0000);
  transition: fill linear 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  fill: var(--animation-fill-color, #ff0000);
  animation: heart-scale 0.3s 0.1s 1 ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s 0.3s 1 ease-in;
}

.contour {
  transition: fill linear 0.1s;
}

.main-body {
  opacity: 0;
  transition: opacity linear 0.3s;
}

.core {
  opacity: 0;
  transition: opacity linear 0.3s 0.03s;
}

.sparks {
  opacity: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: rgba(0, 0, 0, 1);
}

.button {
 background-color: var(--accent-color, #fff);
  border: 2px solid var(--main-color, #000); 
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.button .button__text {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--accent-color, #fff);
}

.button::before {
  content: "";
  background-color: var(--main-color, #000);
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--main-color, #000);
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  align-self: flex-end;
  margin-block-end: 4px;
  display: inline-block;
  z-index: 0;
  inline-size: 130px;
  block-size: 38px;
}

.button__text {
  font-family: var(--accent-font, "PressStart2P", fantasy);
  font-weight: var(--accent-font-weigh, 400);
  font-size: 14px;
  text-align: center;
}

.memory-save {
  margin-block-end: 100px;
}

.memory-save-button {
  margin-block-start: 55px;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 15px 20px;
  gap: 8px;
}

.memory-save-button .card__icon {
  position: relative;
  z-index: 2;
  mix-blend-mode: difference;
  color: var(--accent-color, #fff);
}

.card__icon {
  inline-size: 21px;
  block-size: 21px;
}

.modal {
  border: 2px solid var(--main-color, #000);
  background: var(--accent-color, #fff);
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  margin-inline-end: auto;
  margin-inline-start: clamp(1.0625rem, -10.5242rem + 49.4366vw, 33.96875rem);
}

.modal[open] {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 30px;
  padding: 30px 37px;
}

.modal__content {
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 39px auto;
  gap: 20px;
}

.modal .card__icon {
  grid-column: 1/2;
  inline-size: 39px;
  block-size: 39px;
  align-self: center;
}

.modal__title {
  font-family: var(--accent-font, "PressStart2P", fantasy);
  font-size: 14px;
  font-weight: var(--accent-font-weigh, 400);
  line-height: 150%;
  text-transform: uppercase;
  display: inline-block;
  grid-column: 2/3;
}

.modal[open] form {
  grid-row: 2 / 3;
  justify-self: center;
  width: auto;
  display: inline-block;
}

.modal__button {
  margin: 0;
  padding: 9px 114px;
  box-sizing: border-box;
  z-index: 1;
}

.modal__button .button__text {
  text-transform: uppercase;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (width <= 376px) {
  .memory-save-button {
    flex-direction: column;
    margin-block-start: 53px;
  }

  .card__icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
