/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font:'Inter-Variable', sans-serif;
  --accent-font:'PressStart2P', monospace;
  --font-weight-text: 410;
  --font-weight-title: 715;
  --accent-font-weigh: 400;
  --gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a);
  --responsive-width:clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.7500rem);
  --main-color: #000;

}